.footer-container {
  background-color: #e2e8f0;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.footer-container h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #64748b;
  padding: 15px;
  margin: 0px;
}
